@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');

:root {
    --background-color: #fff;
    --background-color-glass: rgba(0, 0, 0, 0.7);
    --btn-active-background-color: #062;
    --btn-background-color: #eee;
    --btn-background: #eee;
    --btn-color: #fff;
    --btn-border-color: #d9d9d9;
    --text-color: #888;
    --disabled-color: #ddd;
    --hover-color: #ccc;
    --border-radius: 5px;
    --shadow-black: rgb(0, 0, 0, 0.5);
    --shadow-white: rgb(255, 255, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 none;
}

html {
    scroll-behavior: smooth;
}

ul,
ul li,
ol,
ol li {
    list-style: none;
}

section,
article,
aside,
footer,
header,
nav {
    display: block;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Titillium Web', sans-serif;
}